Linguistics Data 2/20171089.zip
Linguistics Data 2/hindi-part-of-speech-tagger
NLA/Assignment1/t_out_dev.pickle
NLA/Assignment1/t_out.pickle
NLA/Assignment2/tut1-model.pt
NLA/Assignment2/tut3-model.pt
